extends layout

block content
  div(class="row")
    h2(class="text-primary fw-bold my-4") Welcome 
    h6(class="text-secondary fw-bold fst-italic mb-3") We hope you enjoy your stay 
    p Welcome to our computer store. Please search through the available products or add one of your own! Proceed to the list!
      a(href="todo") here
