extends layout
block content
   if info

      h1.alert.alert-info.text-center=info

   if warn

      h1.alert.alert-warning.text-center #{warn}

   
   form.card.mx-auto.border.border-primary.w-50.p-3(method="post")
      div.card-body.border-top-0
         div.mt-3
            label.form-label.fw-bold Username: 
            input.form-control(type="text" name="username" placeholder=" Enter username " value="demo")
         div.mt-3
            label.form-label.fw-bold Password: 
            input.form-control(type="password" name="password" value="demo")
         div.mt-3.d-grid.gap-2 
            input.btn.btn-primary(type="submit" value="Login")
            
            
               
